@charset "utf-8";


html{
	background-color:#FFFFFF;	
}

body{
background-color: #FFFFFF;
width:60%;
margin: 0 auto;
font-size:20px;
color: #110b08;	
}

button{
color:#CC0099;
padding:20px;
}

a:link{color: #44ff44;}

a:visited{color: #227722;}

.flash{
width: 40%;
font-weight: bold;
margin: auto;
vertical-align: middle;
text-align: center;
font-style: italic;
}

.flc_error{
background-color: #CC0000;
color: #330000;
}

.flc_success{
background-color: #009900;
color: #330000;
}

.flc_warning{
background-color: #3300FF;
color: #330000;
}

.flc_note{
background-color: #FFFFFF;
color: #330000;
}

table{
padding-top: 10px;
padding-bottom: 10px;
}

td{
border: 1px solid #557777;
vertical-align: middle;
text-align: middle;
}

#status{
font-style: italic;
font-size: 60%;
position: fixed;
bottom: 0px;
width: 100%;
background-color: #220000
}

#header{
	padding-top: 30px;
	padding-bottom: 30px;
	width: 960px;
	height: 35px;	
}

#header h1{
	text-align: center;
	font-size: 25px;
}

#nav {
  border: none;
  border: 0px;
  margin: 0px auto;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #8e8e8e;
  text-align: center;
}

#nav ul {
  left: 60%;
  top: 0;
}
#nav ul li {
	list-style-type: none;
  	float: left;
  	padding: 0px 5px 0px 5px;
}
#nav ul li a {
  color: #666666;
  display: block;
  font-weight: bold;
  line-height: 30px;
  padding: 0px 23px;
  text-align: center;
  text-decoration: none;
}
#nav ul li a:hover {
  color: #000000;
  text-decoration: none;
}

#nav .active > a {
  background: #36552c;
  box-shadow: 0 -4px 0 #36552c, 0 -5px 0 #515c4d, 0 -6px 0 #36552c;
  color: #ffffff;
}

#nav .active > a:hover {
  color: white;
}

#content{
	color: #000000;
	width: 60%;
	margin: 30px auto;
}

a{
	text-decoration: none;
}