<!DOCTYPE HTML>
<html>
	<head>
		<title>CSLABS PRINT SERVICE</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
	<body>
		<div >
			<div id="nav">
			<ul>
				{% for navname, url in g.navigation %}
				<li ><a href="{{ url }}" >{{ navname }}</a></li>
				{% endfor %}
			</ul>
			</div>
			<div id="header">
			<h1>CSLabs Print Server{% block header %}{% endblock %}</h1>
			</div>
		</div>
		<!-- Login goes here-->
		{% with messages = g.flashes %}
			{% for msg, cat in messages %}
				<div class="flash flc_{{ cat }}">{{ msg|safe }}</div>
			{% endfor %}
		{% endwith %}
		<div id="content">
		{% block content %} 
		{% endblock %}
		</div>
	</body>
</html>
