{% extends "frame.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% if g.user.balance < 20 %}
	{% set nag_contact = true %}
	{% if g.user.balance <= 0 %}
		<div class = "flash flc_error">
	{% else %}
		<div class = "flash flc_warning">
	{% endif %}
{% else %}
	<div class = "flash flc_note">
{% endif %}
You have {{ g.user.balance }} pages remaining.
{% if nag_contact %}
	For more balance or help, you can always contact a maintainer in person or <a href="/print/op/contact">by mail</a>.
{% endif %}
	</div>
<form id="printForm" action="?" method="POST" enctype="multipart/form-data">
	<table>
		<tr><td>File:</td><td><input type="file" name="file"/></td></tr>
		<tr><td>Copies (default 1):</td><td><input value="1" type="number" name="copies"/></td></tr>
		<tr><td>Pages (default all):</td><td><input type="text" name="pages"/></td></tr>
		<tr><td>Duplex (double-sided):</td><td><input type="checkbox" name="duplex" checked/></td></tr>
		<tr><td style="text-decoration-line: underline; text-decoration-style: dotted;" title="Interleave duplicate pages; e.g., 1,2,3,1,2,3,1,2,3 instead of 1,1,1,2,2,2,3,3,3">Collate:</td><td><input type="checkbox" name="collate" checked/></td></tr>
	</table>
	<button type="submit" name="submit">Print</button>
</form>
<p>Allowed extensions: {{ ', '.join(g.conf.ALL_EXTENSIONS) }}</p>
{% endblock %}
