<!DOCTYPE HTML>
<html>
	<head>
		<title>Print Server</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
		<meta name="theme-color" content="#00ff00">
		<script type="text/javascript" src="/static/lib.js"></script>
	</head>
	<body>
		<div id="nav">
			<ul>
				<li><a href="http://cslabs.clarkson.edu/">CSLabs Homepage</a></li>
				<li><a href="http://dubsdot.cosi.clarkson.edu/">DubsDot</a></li>
				<li><a href="http://docs.cosi.clarkson.edu/">Docs</a></li>
				<li><a href="http://print.cosi.clarkson.edu/">Print</a></li>
				<li><a href="http://mirror.clarkson.edu/">Mirror</a></li>
				<li><a href="http://fsuvius.cosi.clarkson.edu/">Fsuvius</a></li>
				<li><a href="http://talks.cosi.clarkson.edu/">Talks</a></li>
				<li><a href="http://cosi-lab.github.io/meeting-minutes/">Meeting Minutes</a></li>
				<li><a href="http://cosi-lab.github.io/project-updates/">Project Updates</a></li>
				<li><a href="http://moodle.cosi.clarkson.edu/">COSI Moodle</a></li>
				<li><a href="http://sage.cosi.clarkson.edu/">Sage</a></li>
			</ul>
		</div>
		<table id="layout">
			<tr>
				<td colspan="3" id="header">
					CSLabs Print Server
				</td>
			</tr>
			<tr>
				<td id="ops">
					<ul>
						{% for opname, url in operations %}
							<li><a href="{{ url }}" target="opframe">{{ opname }}</a></li>
						{% endfor %}
					</ul>
				</td>
				<td id="body">
					<iframe src="/print/op/null/" name="opframe">iframes are required to use this site properly</iframe>
				</td>
				<td id="pending">
					Pending operations...
				</td>
			</tr>
		</table>
	</body>
</html>
