<!DOCTYPE HTML>
<html>
	<head>
		<title>Print Server</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
		<meta name="theme-color" content="#00ff00">
		<script src="{{ url_for('static', filename='webcomponents.min.js') }}"></script>
		<link rel="import" href="{{ url_for('static', filename='cosi-nav.html') }}">
		<script type="text/javascript" src="/static/lib.js"></script>
	</head>
	<body>
		<cosi-nav></cosi-nav>
		<table id="layout">
			<tr>
				<td colspan="3" id="header">
					CSLabs Print Server
				</td>
			</tr>
			<tr>
				<td id="ops">
					<ul>
						{% for opname, url in operations %}
							<li><a href="{{ url }}" target="opframe">{{ opname }}</a></li>
						{% endfor %}
					</ul>
				</td>
				<td id="body">
					<iframe src="/print/op/null/" name="opframe">iframes are required to use this site properly</iframe>
				</td>
			</tr>
		</table>
	</body>
</html>
