{% extends "frame.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<script type="text/javascript">
function validate() {
	var form = document.forms.regform;
	if(form.password.value != form.confpassword.value) {
		alert("Passwords do not match.");
		return false;
	}
	document.querySelector("#pleasewait").innerHTML = '<div class="flash flc_warning">Please wait, processing your request...<img class="spinner" src="/static/spinner.gif"/></div>';
	return true;
}
</script>
<span id="pleasewait"></span>
<form name="regform" action="?" method="POST" onsubmit="return validate();">
	<table>
		<tr><td>Username:</td><td><input type="text" name="username"/></td></tr>
		<tr><td>Email:</td><td><input type="text" name="email"/></td></tr>
		<tr><td>Password:</td><td><input type="password" name="password"/></td></tr>
		<tr><td>Confirm password:</td><td><input type="password" name="confpassword"/></td></tr>
	</table>
	<button type="submit" name="submit">Register</button>
</form>
{% endblock %}
